.first_paragraph{
    padding: 10px;
}

.io_methods{
    padding: 10px;
}

.second_paragraph{
    padding: 10px;
}

.third_paragraph{
    padding: 10px;
}

.fourth_paragraph{
    padding: 10px;
}

.fifth_paragraph{
    padding: 10px;
}