.initial_paragraph {
    display:flex;
    padding:10px;
    font-size: 12px;
    justify-content: center;
    background-color: blueviolet;
}

.b_list {
    padding: 10px;
}

.adapt_paraph{
    padding: 10px;
}

.gen_list{
    padding: 10px;
}

.text_list{
    padding: 10px;
}

.non_text_list{
    padding: 10px;
}

.text_alternative_list
{
    padding: 10px;
}

.disting_list{
    padding: 10px;
}

.cont_hov_list{
    padding: 10px;
}

.wcag_standard
{
    padding: 10px;
}