/*Perceivable*/
.topic_perceivable {
    padding:30px;
    left:50px;
    justify-content: center;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    color:white;
    background-color: rgb(198, 35, 68);
}

.initial_paragraph {
    display:flexbox;
    align-items: center;
    left: 50px;
    bottom: 25px;
    padding:30px;
    top: 0px;
    font-size: 16px;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 242, 244);
    width: 1000px;

}

.b_list {
    margin-top: 25px;
    padding: 10px;
}

.adapt_paraph{
    padding: 10px;
}

.gen_list{
    padding: 10px;
}

.text_list{
    padding: 10px;
}

.non_text_list{
    padding: 10px;
}

.text_alternative_list
{
    padding: 10px;
}

.disting_list{
    padding: 10px;
}

.cont_hov_list{
    padding: 10px;
}

.wcag_standard
{
    padding: 10px;
}

/*Operable*/
.topic_operable {
    padding:10px;
    justify-content: center;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    color:white;
    background-color: rgb(34, 114, 131);
}

.first_paragraph{
    display:flexbox;
    align-items: center;
    left: 50px;
    bottom: 25px;
    padding:30px;
    top: 0px;
    font-size: 16px;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 242, 244);
    width: 1000px;
}

.io_methods{
    padding: 10px;
}

.second_paragraph{
    padding: 10px;
}

.third_paragraph{
    padding: 10px;
}

.fourth_paragraph{
    padding: 10px;
}

.fifth_paragraph{
    padding: 10px;
}

/*Understandable*/
.topic_understandable {
    padding:10px;
    justify-content: center;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    color:white;
    background-color: rgb(83, 83, 83);
}

.readability_paragraph{
    padding: 10px;
}

.improve_readability_paragraph{
    padding: 10px;
}

.primary_language_paragraph{
    padding: 10px;
}

.predictability_paragraph{
    padding: 10px;
}

.change_on_req_paragraph{
    padding: 10px;
}

.opt_to_consider_paragraph{
    padding: 10px;
}

.const_in_appr_paragraph{
    padding: 10px;
}

.input_assist_paragraph{
    padding: 10px;
}

.important_note_paragraph{
    padding: 10px;
}

/*Robust*/
.topic_robust {
    padding:10px;
    justify-content: center;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    color:white;
    background-color: rgb(115, 127, 52);
}

.robust_intial_paragraph{
    display:flexbox;
    align-items: center;
    left: 50px;
    bottom: 25px;
    top: 0px;
    padding:30px;
    font-size: 16px;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 242, 244);
    width: 1000px;
}

.robust_introduction_paragraph{
    margin-top: 10px;
    padding: 10px;
}

.browsers_list{
    padding: 10px;
}

.mobile_os_list{
    padding: 10px;
}

.computer_os_list{
    padding: 10px;
}

/*About*/
.about_us_container{
    background-image: url(/src/Assets/images/Norbert3.png)
    
  }
  
  .about_us_intro{
      padding-left: 10px;
      background-color: purple;
      opacity: 80%;
  }
  .table_header{
    padding: 10px;
    color: whitesmoke;
  }
  .about_us_table{
      border: 1px solid black;
      border-collapse: collapse;
      display: inline-flex;
      max-width: 26%;
      background-color: rgb(104, 199, 239);
  }

/* Getting Started*/
.getting_started_intro{
    padding: 10px;
}
.getting_started_disability{
    padding: 10px;
}

.getting_started_options_to_consider{
    padding: 10px;
}

.getting_started_further_reading{
    padding: 10px;
}

.getting_started_begin{
    padding: 10px;
}

/*Catalog*/
