.robust_intial_paragraph{
    padding: 10px;
}

.robust_introduction_paragraph{
    padding: 10px;
}

.browsers_list{
    padding: 10px;
}

.mobile_os_list{
    padding: 10px;
}

.computer_os_list{
    padding: 10px;
}

