.readability_paragraph{
    padding: 10px;
}

.improve_readability_paragraph{
    padding: 10px;
}

.primary_language_paragraph{
    padding: 10px;
}

.predictability_paragraph{
    padding: 10px;
}

.change_on_req_paragraph{
    padding: 10px;
}

.opt_to_consider_paragraph{
    padding: 10px;
}

.const_in_appr_paragraph{
    padding: 10px;
}

.input_assist_paragraph{
    padding: 10px;
}

.important_note_paragraph{
    padding: 10px;
}